*{
    font-family: Roboto;
}
#scrollbar{
    scrollbar-color: rgb(255, 255, 255,0.35) rgb(255, 255, 255,0.1);
    scroll-behavior: smooth;
}
 @font-face {
    font-family: Roboto;
    src: url('components/assets/Roboto.ttf');
 }
 #progress{
    -webkit-appearance: none;
 }
 #progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100%;
    background-color: #ffffff;
 }